#navigation         { 
    font-size: 1.2em; text-align: left; font-family: serif; font-family: 'Dancing Script', cursive; 
    border-width: thin; border-style: solid; background-color: teal; padding-right: 1em; float:left; margin-right: 1em;
}
h1  {
  margin-left: 300px;
  font-size: 2em; 
  border-bottom-style: dotted; 
  border-bottom-color:rgb(192, 50, 121);
}
h2  {
  margin-left: 300px;
  font-size: 1.5em; 
  text-emphasis-color: rgb(235, 141, 19); 
  font-family: italic;
}

form {
    float:left;
    margin: 100px 50px 0px -230px;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
  }
  
  form label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  form input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  form input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  form textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  form .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  form button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }