h1              { font-size: 1.5em; background-color: orange; text-align: center; }
p               { font-size: 1.5em; text-align: justify; }
#loginbutton    { list-style-type:none }
#loginformular  { border-width: thin; border-style: solid; padding-right: 1em; float:right; margin-right: 1em; }
#navigation     { 
    font-size: 1.2em; text-align: left; font-family: serif; font-family: 'Dancing Script', cursive; 
    border-width: thin; border-style: solid; background-color: teal; padding-right: 1em; float:left; margin-right: 1em;
}
label[for=q] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
  